name: Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main, develop]

jobs:
  unit-tests:
    if: github.event.pull_request.base.ref == 'develop'
    uses: mrg-keystone/.github/.github/workflows/test-unit.yml@v1

  e2e-tests:
    if: github.event.pull_request.base.ref == 'main'
    uses: mrg-keystone/.github/.github/workflows/test-e2e.yml@v1